@media screen and (max-width: 990px) {
    body{
    padding: 0;
    margin: 0;
    }
    html{
        user-select:none;
        padding: 0;
        margin: 0;
    }
    *{
        padding: 0;
        margin: 0;
    }
    #navdiv{
        width: 100%;
        height: 42px;
        display: flex;
        line-height: 42px;
        justify-content: space-between;
        
        .navleft{
            padding-top: 4px;
            padding-left: 20px;
        }
        .navright{
            padding-right: 20px;
            
            .active{
                font-family: "微软雅黑";
                font-weight: bold;
                color: #3c5af0;
                text-decoration: none;
                font-size: 13px;
                line-height: 18px;
            }

            .other{
                font-size: 13px;
                color: #5a6478;
                margin-left: 30px;
                text-decoration: none;
            }
        }
    }
    #bodyone{
        display: flex;
        width: 100%;
        height: 430px;

        .oneleft{
            flex: 2;
            background-color: #3c5af0;
            padding-right: 5%;
            .onetext{
                user-select:none;
                margin-top: 50px;
                // margin-left: 20%;
                text-decoration: none;
                // width: 68%;
                .lineone{
                    display: block;
                    font-family: Helvetica;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 30px;
                    color: white;
                    margin-bottom: 20px;

                    p{
                        // align: "right"
                        text-align: right;
                    }
                }
                .linetwo{
                    display: block;
                    font-family: "微软雅黑";
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 30px;
                    color: white;
                    margin-bottom: 20px;
                    p{
                        // align: "right"
                        text-align: right;
                    }
                }
                .linethree{
                    display: block;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-size: 14px;
                    color: white;
                    line-height: 24px;
                    p{
                        // align: "right"
                        text-align: right;
                    }
                }
            }
            .onebtn{
                margin-top: 60px;
                // margin-left: 20%;
                // text-decoration: none;
                // width: 68%;
                float: right;
                a{
                    display: block;
                    width: 200px;
                    height: 40px;
                    border-radius: 10px;
                    background-color: #05c8dc;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    color: white;
                    line-height: 40px;
                    text-align: center;
                    margin-bottom: 20px;
                    text-decoration: none;
                }
            }
            .banner1{
                position: absolute;
                left: 4%;
                top: 260px;
                width: 22%;
            }
        }
        .oneright{
            flex: 1;
            background-color: #2846d2;
            // background-image: url('@/assets/color_02.png');
            padding-left:4%;
            padding-top: 50px;
            .atitle{
                font-family: "微软雅黑";
                font-weight: bold;
                font-size: 22px;
                color: white;
            }
            img{
                position: absolute;
                right: 0px;
                z-index: 0;
                width: 7%;
                z-index: 1;
            }
            .div1{
                width: 80%;
                height: 28px;
                border-bottom: 1px solid white;
                margin-top: 40px;
                z-index: 999;
                a{
                    font-family: "微软雅黑";
                    font-size: 14px;
                    color: white;
                    margin-right: 10px;
                }
                input{
                    background: #2846d2;
                    border-style: none;
                    outline: none;
                    color: white;
                    display: inline-block;
                    line-height: 14px;
                    font-size: 12px;
                    width: 100%;
                }
            }
            .div1error{
                width: 80%;
                height: 28px;
                border-bottom: 1px solid red;
                margin-top: 40px;
                z-index: 999;
                a{
                    font-family: "微软雅黑";
                    font-size: 14px;
                    color: red;
                    margin-right: 10px;
                }
                input{
                    background: #2846d2;
                    border-style: none;
                    outline: none;
                    color: white;
                    display: inline-block;
                    line-height: 14px;
                    font-size: 12px;
                    width: 100%;
                }
                .span1{
                    position: absolute;
                    top:197px;
                }
            }
            .div2{
                width: 80%;
                height: 28px;
                border-bottom: 1px solid white;
                margin-top: 20px;
                z-index: 999;
                a{
                    font-family: "微软雅黑";
                    font-size: 14px;
                    color: white;
                    padding-right: 10px;
                }
                .input1{
                    background: #2846d2;
                    border-style: none;
                    outline: none;
                    color: white;
                    display: inline-block;
                    line-height: 14px;
                    font-size: 12px;
                    width: 100%;
                }
            }
            .div2error{
                width: 80%;
                height: 28px;
                border-bottom: 1px solid red;
                margin-top: 20px;
                z-index: 999;
                a{
                    font-family: "微软雅黑";
                    font-size: 14px;
                    color: red;
                    padding-right: 10px;
                }
                .input1{
                    background: #2846d2;
                    border-style: none;
                    outline: none;
                    color: white;
                    display: inline-block;
                    line-height: 14px;
                    font-size: 12px;
                    width: 100%;
                }
                .span2{
                    position: absolute;
                    top:245px;
                    font-size: 12px!important;
                }
            }
            .div3{
                width: 80%;
                height: 28px;
                border-bottom: 1px solid white;
                margin-top: 20px;
                z-index: 999;
                a{
                    font-family: "微软雅黑";
                    font-size: 14px;
                    color: white;
                    padding-right: 10px;
                }
                .input2{
                    background: #2846d2;
                    border-style: none;
                    outline: none;
                    color: white;
                    display: inline-block;
                    line-height: 14px;
                    font-size: 12px;
                    width: 100%;
                }
            }
            .isok{
                width: 80%;
                height: 40px;
                margin-top: 20px;
                label{
                    font-size: 12px;
                    line-height: 12px;
                    color: #fff;
                    input[type=checkbox]{
                        cursor: pointer;
                        position: relative;
                        width: 12px;
                        height: 12px;
                        font-size: 12px;
                        border:1px solid white;

                    }
                input[type=checkbox]::after{
                        position: absolute;
                        top: 0;
                        background-color: #2846d2;
                        color: #fff;
                        width: 12px;
                        height: 12px;
                        display: inline-block;
                        visibility: visible;
                        padding-left: 0px;
                        text-align: center;
                        content: ' ';
                        border-radius: 2px;
                        border:1px solid white;
                    }
                    input[type=checkbox]:checked::after{
                        content: "✓";
                        font-size: 12px;
                        line-height: 12px;
                        border:1px solid white;

                }
                }
                a{
                    font-size: 12px;
                    line-height: 12px;
                    color: #fff;
                }
                .span3{
                    position: absolute;
                    top:329px;
                    color: red;
                }
            }
            .register{
                display: inline-block;
                width: 80px;
                height: 30px;
                border-radius: 6px;
                background-color: white;
                line-height: 30px;
                color: #2846d2;
                font-family: "微软雅黑";
                font-size: 14px;
                // text-align: center;
                // margin-top: 10px;
                margin-right: 10px;
                // text-decoration: none;
            }
            .color{
                color: white;
                font-weight: lighter;
                font-size: 12px;
                display: inline-block;
                line-height: 64px;
                margin-top: 26px;
            }
        }
    }
    #bodytwo{
        user-select:none;
        height: 700px;
        .center{
            position: absolute;
            display: inline-block;
            color: #283c64;
            font-family: "微软雅黑";
            font-size: 24px;
            width: 100%;
            text-align: center;
            margin-top: 50px;
        }
        .imgbox{
            display: none;
            width: 76%;
            margin-top: 100px;
            height: 560px;
            margin-left: 13%;
        }
        .bubble-whole-wrapper {
            width: 84%;
            height: 530px;
            position: absolute;
            top: 548px;
            left: 8%;
            padding: 0 10px;

            .bubble-left-wrapper {
                width: 50%;
                height: 100%;
                float: left;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
            }

            .bubble-right-wrapper {
                width: 50%;
                height: 100%;
                float: left;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
            }

            .box {
                min-height: 150px;
                flex: 0 0 130px;
                padding: 10px 15px;
                box-sizing: border-box;
                background: rgba(255, 255, 255, 1);
                box-shadow: 0px 2px 8px 0px rgba(9, 103, 254, 0.2);
                border-radius: 4px;
                position: relative;
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-top: 44px;
                .bubble-title {
                    text-align: left;
                    font-size: 18px;
                    line-height: 24px;
                    color: #3c5af0;
                }

                .bubble-content {
                    text-align: left;
                    font-family: "微软雅黑";
                    font-size: 14px;
                    margin-top: 10px;
                    line-height: 22px;
                    color: #5a6478;
                }

                .triangle-left {
                    display: none;
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    width: 9px;
                    height: 9px;
                    background: white;
                    border-top: 1px solid #d9d9d980;
                    border-right: 1px solid #d9d9d980;
                    transform: rotate(45deg) translate(10%, -50%);
                }

                .triangle-right {
                    display: none;
                    position: absolute;
                    left: 0px;
                    top: 50%;
                    width: 9px;
                    height: 9px;
                    background: white;
                    border-top: 1px solid #d9d9d980;
                    border-right: 1px solid #d9d9d980;
                    transform: rotate(225deg) translate(50%, -50%);
                }
            }
        }
        .phone{
            display: none;
        }
    
    }
    #bodythree{
        user-select:none;
        background-color: #f0f5fa;
        padding-bottom: 60px;
        .dotitle{
            display: inline-block;
            width: 100%;
            text-align: center;
            font-family: "微软雅黑";
            font-weight: bold;
            font-size: 24px;
            margin-top: 60px;
        }
        .docontent{
            display: block;
            width: 100%;
            text-align: center;
            font-size: 18px;
            margin-top: 20px;
        }
        .grid-do-what{
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            justify-content: space-between;
            margin:0 auto ;
            .grid-do-whatitem{
                width: 320px;
                height: 140px;
                background-color: white;
                margin:0 auto ;
                margin-top: 78px;
                // padding: 0px 20px;
                box-shadow: 0px 2px 8px 0px rgba(9, 103, 254, 0.2);
                
                .icon{
                    width: 60px;
                    position: relative;
                    left: 132px;
                    top: -40px;
                }
                .title1{
                    display: inline-block;
                    font-size: 14px;
                    color: #5a6478;
                    margin-left: 60px;
                    font-family: "微软雅黑";
                }
                .title2{
                    display: inline-block;
                    font-size: 14px;
                    color: #5a6478;
                    margin-left: 70px;
                    font-family: "微软雅黑";
                }
                .title3{
                    display: inline-block;
                    font-size: 14px;
                    color: #5a6478;
                    margin-left: 56px;
                    font-family: "微软雅黑";
                }
                .content{
                    display: block;
                    // margin-top: 18px;
                    font-size: 12px;
                    color: #5a6478;
                    line-height: 16px;
                    font-family: "微软雅黑";
                    margin:10px 20px;
                }
            }
        }
        .imgleft{
            display: none;
            position: absolute;
            top: 1660px;
            width: 145px;
        }
        .imgright{
            display: none;
            position: absolute;
            top: 2220px;
            right: 0px;
            width: 140px;
        }
    }
    #bodyfour{
        background-color: #3c5af0;
        height: 790px;
        // height: 600px!important;
        .title{
            user-select:none;
            display: inline-block;
            font-weight: bold;
            font-family: "微软雅黑";
            font-size: 24px;
            margin-top: 50px;
            margin-bottom: 50px;
            color:white;
            width: 100%;
            text-align: center;
        }
        .superiority{
            user-select:none;
            width: 90%;
            // margin: 0 auto;
            display: grid;
            justify-content: space-between;         
            grid-template-columns: 1fr;
            .superiority-item{
                display: grid;
                grid-template-columns: 1fr 3fr;   
                margin-left: 6%;
                margin-bottom: 70px;
                img{
                    width: 100px;
                }
                .superiority-title{
                    font-family: "微软雅黑";
                    font-size: 14px;
                    line-height: 14px;
                    color: white;
                    display: inline-block;
                    width: 100%;
                    margin-left: 20px;
                }
                .superiority-content{
                    font-family: "微软雅黑";
                    font-size: 14px;
                    line-height: 16px;
                    color: white;
                    display: inline-block;
                    width: 84%;
                    margin-left: 20px;
                }
            }
        }
        .superiority-btn{
            display: block;
            margin: 0 auto;
            width: 240px;
            height: 46px;
            text-align: center;
            color: white;
            background-color: #05c8dc;
            border-radius: 10px;
            font-size: 18px;
            line-height: 46px;
            align-items: center;
            outline: none;
            text-decoration: none;
        }

    }
}